<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @tournament.tour.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @tournament.course.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @tournament.category.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @tournament.gender.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @tournament.level.name %>
</p>

<p>
  <strong>Days:</strong>
  <%= @tournament.days %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @tournament.start_time %>
</p>

<p>
  <strong>Reg deadline:</strong>
  <%= @tournament.reg_deadline %>
</p>

<p>
  <strong>Qual required:</strong>
  <%= @tournament.qual_required %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @tournament.comments %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
